.blue-block {
  margin-top: 160px;
  margin-bottom: -210px;
  width: 80%;
  float: left;
  height: 342px;
  background: #B8E5F7;
  opacity: 80%;
  z-index: -1; }

.logo {
  position: absolute;
  top: 200px;
  width: 480px;
  height: auto;
  text-align: center;
  background-color: transparent;
  margin: auto;
  left: 0;
  right: 0;
  top: 70px;
  text-align: center;
  z-index: 1; }

.socials {
  position: absolute;
  float: left;
  margin-top: 40px;
  background-color: transparent; }

/* Style the icon bar links */
.socials a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #1E3340;
  font-size: 35px;
  margin-left: 1480px;
  margin-top: 20px;
  opacity: 50%; }

.facebook {
  background: transparent;
  color: #010101; }

.twitter {
  background: transparent;
  color: #010101; }

.instagram {
  background: transparent;
  color: #010101; }

.intro-quote {
  margin-top: 400px; }

.bodyClass {
  background: gray;
  color: #1E3340;
  font-size: 1.1rem; }

.para {
  line-height: 20px;
  letter-spacing: 1.2px; }

.banner-text {
  font-size: 50px; }

.intro-quote {
  margin-top: 35px;
  width: 100%;
  background: #EFF3F4; }

.intro-quote h2 {
  color: #1E3340;
  background-color: #EFF3F4;
  width: 65%;
  font-family: Nunito;
  font-style: italic;
  text-align: center;
  line-height: 33px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px; }

.BKS {
  background: #EFF3F4; }

.BKS h2 {
  background-color: #EFF3F4;
  margin-bottom: 10px; }

.BKS p {
  background-color: #EFF3F4;
  color: black; }

.about-us {
  background: #EFF3F4; }

.about-us h2 {
  background-color: #EFF3F4;
  margin-bottom: 10px; }

.about-us p {
  background-color: #EFF3F4;
  color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background-color: whitesmoke; }

.row {
  width: 100%; }

.col {
  float: left;
  margin-bottom: 15px; }

.clearfix::after {
  clear: both;
  display: table;
  content: ""; }

.col-9 {
  float: left;
  width: 20%;
  display: inline-block; }

.col-4 {
  width: 33%;
  height: 200px;
  border: .1%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 500px) {
  .top-nav {
    display: none;
    width: 80%;
    padding-left: 10px;
    padding-top: 15px;
    background-color: #EFF3F4;
    color: #010101; }
    .top-nav ul {
      width: 100%; }
      .top-nav ul li {
        list-style: none;
        height: 40px;
        width: 100%;
        background: #EFF3F4; }
        .top-nav ul li a:link {
          color: blue;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold; }

  .socials {
    display: none; }

  .blue-block {
    display: none; }

  .top-nav-link {
    font-size: 15px; }

  .nav-bar {
    width: 20%;
    height: 160px; }

  .menu-icon {
    font-size: 40px;
    color: #010101;
    margin: 12px; }

  .menu-icon::after {
    clear: both; }

  .active {
    display: block; }

  .header {
    width: 100%; }

  .logo {
    position: absolute;
    width: 480px;
    height: auto;
    text-align: center;
    background-color: transparent;
    margin: auto;
    left: 0;
    right: 0;
    top: 120px;
    text-align: center;
    z-index: 1; }

  .banner-text {
    display: none; }

  .text-container {
    padding: 10px; }

  .clear {
    display: none; }

  .intro-quote {
    font-size: 12px; }

  .intro-images {
    position: absolute;
    text-align: center;
    margin-top: 30px; }

  .BKS {
    width: 100%;
    position: absolute;
    margin-top: 620px; }

  .about-us {
    width: 100%;
    position: absolute;
    margin-top: 900px; }

  .col-12 {
    width: 100%;
    height: auto; } }
@media screen and (min-width: 501px) and (max-width: 800px) {
  .menu-icon {
    display: none; }

  .top-nav {
    background: #EFF3F4;
    display: block;
    width: 100%;
    height: 150px; }
    .top-nav ul {
      padding: 20px;
      text-align: center;
      height: 150px;
      width: 100%;
      background: #EFF3F4; }
      .top-nav ul li {
        padding: 10px;
        width: 15%;
        height: 40px;
        font-size: 13px;
        margin: 30px 0;
        background: #EFF3F4;
        display: inline-block; }
        .top-nav ul li a:link {
          color: yellow; }

  .clear-mobile {
    display: none; }

  .intro-quote {
    font-size: 12px; }

  .intro-images {
    position: absolute;
    text-align: center;
    margin-top: 30px; }

  .col-4 {
    width: 100%;
    height: auto;
    padding: 10px; } }
@media screen and (min-width: 801px) {
  .menu-icon {
    display: none; }

  .top-nav {
    background: #EFF3F4;
    display: block;
    width: 100%;
    height: 150px; }
    .top-nav ul {
      padding: 20px;
      text-align: center;
      height: 150px;
      width: 100%;
      background: #EFF3F4; }
      .top-nav ul li {
        padding: 10px;
        width: 15%;
        height: 40px;
        font-size: 18px;
        margin: 30px 0;
        background: #EFF3F4;
        display: inline-block; }
        .top-nav ul li a:link {
          color: yellow; }

  .clear-mobile {
    display: none; }

  .intro-quote {
    font-size: 15px; }

  .intro-images {
    margin: auto;
    position: absolute;
    text-align: center;
    margin-top: 30px; }

  .col-4 {
    width: 100%;
    height: auto;
    padding: 10px; } }
.h1, .h2, .h3, .p {
  color: #010101; }

.socials {
  position: absolute;
  top: 50%;
  margin-top: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent; }

/* Style the icon bar links */
.socials a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #1E3340;
  font-size: 35px;
  margin-left: 1480px;
  margin-top: 20px; }

.socials a:hover {
  background-color: #EFF3F4; }

.facebook {
  background: transparent;
  color: #010101; }

.twitter {
  background: transparent;
  color: #010101; }

.instagram {
  background: transparent;
  color: #010101; }

.clear-mobile {
  background: whitesmoke;
  width: 100%;
  height: auto;
  margin: 400px; }

.clear {
  background: whitesmoke;
  width: 100%;
  height: auto;
  margin: 250px; }

/*# sourceMappingURL=style.css.map */
